@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
  font-feature-settings: "tnum" 1;
}

@theme inline {
  --color-primary: #487978;
  --color-secondary: #e6e29e;
  --color-point-green: #487d66;
  --color-bg: #a3beb2;
  --color-gray: #cad3d4;
  --color-white: #f5f5f5;
  --color-text: #272E3F;
  --color-text-sec: #FFFFFF
  --font-sans: "Pretendard", system-ui, sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.8125rem;
  --font-size-md: 0.875rem;
  --font-size-lg: 1rem;
  --font-size-2lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  font-variant-numeric: tabular-nums;
}

.main-layout {
  @apply mx-4 md:mx-15 max-w-full py-10
}

.sub-layout {
  @apply mx-auto max-w-6xl md:px-15 px-4 py-10;
}